<div class="contact-details">
  <p>Not a form fan? You can contact us directly:</p>
  <p>
    <i class="fas fa-envelope"></i> <a href="mailto:{{ site.email }}">{{ site.email }}
    </a>
  </p>
  <p>
    <i class="fas fa-phone-square"></i> <a href="tel:{{ site.phone }}"‬>{{ site.phone }}</a>
  </p>
  <p>
    <i class="fas fa-map-marked-alt"></i>
    {{ site.postal_add.street }}<br>
      {{ site.postal_add..city }}<br>
      {{ site.postal_add..country }}, {{ site.postal_add.postcode }}
  </p>

</div>
