<form class="contact-form" action="{{ site.baseurl}}/assets/php/contact-submission.php" method="post" >
  <p class="form-instruction">Fill out the form, hit send, and your message will wizz its way to our inbox ⚡</p>

  <input type="text" class="form-element" name="name" placeholder="Your name" required>

  <input type="text" class="form-element" name="email" placeholder="Your email" required>

  <textarea class="form-element" rows="5" name="message" placeholder="Your message" required></textarea>

  <button class="btn btn-pop btn-outline btn-contact" type="submit">SEND</button>

</form>
