<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="author" content="" />
  <meta name="copyright" content="" />
  <meta name="robots" content="follow" />
  <meta name="twitter:title" content=""/>

  <link rel="icon" href="{{ site.baseurl }}/assets/img/favicon.png" />
  <link rel="stylesheet" type="text/css" title="made slowly has style" href="{{ site.baseurl }}/assets/css/made-slowly-has-all-the-style.css">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/aos/aos.css">

  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:100,400,700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />

</head>
<body>
