<section class="privacy-wraper">

  <div class="privacy-header">
    <h1>Privacy Policy</h1>
    <p class="">Last updated: October 2019</p>
    <h4 class="">Introduction</h4>
    <p>HEMO Swimmers ("we", "us", or "our") operates the <a href="https://www.madeslowly.co.uk">https://www.madeslowly.co.uk</a> website (the "Service"). This page informs you of our policies regarding the collection, use and disclosure of Personal Information when you use our Service. We will not use or share your information with anyone except as described in this Privacy Policy. We use your Personal Information for providing and improving the Service. By using the Service, you agree to the collection and use of information in accordance with this policy.</p>
  </div>

  <div class="privacy-section">
    <h4 class="">Information Collection And Use</h4>
    <p>While using our Service, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you. Personally identifiable information may include, but is not limited to, your name, email address, phone number ("Personal Information").</p>
  </div>

  <p class="privacy-friendly">
    If you choose to work with us, we will need to talk to each other.
  </p>

  <div class="privacy-section">
    <h4 class="">Log Data</h4>

    <p>We may also collect information that your browser sends whenever you visit our Service ("Log Data"). This Log Data may include information such as your computer's Internet Protocol ("IP") address, browser type, browser version, the pages of our Service that you visit, the time and date of your visit, the time spent on those pages and other statistics.</p>

    <p>In addition, we may use third party Service such as Google Analytics that collect, monitor and analyze this type of information in order to increase our Service's functionality. These third party Service providers have their own privacy policies addressing how they use such information.</p>

  </div>
  <p class="privacy-friendly">
    We know you looked at our site, in fact we know you are looking at it right now, spooky. We don't know who you are, what colour your hair is, or what you had for breakfast. We just know you came to our website and looked at it.
  </p>

  <div class="privacy-section">
    <h4 class="">Cookies</h4>
    <a name="#cookies"></a>
    <p>Cookies are files with small amount of data, which may include an anonymous unique identifier. Cookies are sent to your browser from a website and stored on your computer's hard drive.</p>

    <p>We use "cookies" to collect information. You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. Exact details of how to do this vary from browser to browser. Feel free to contact the creator of this Service for advice. If you do disable cookies, you may not be able to use some portions of my Service. <a href="http://cookiesandyou.com/" target="_blank">Learn more</a></p>
  </div>
  <p class="privacy-friendly">
    Cookies are great, really. Any of the cookies We send to you are expressly forbidden to go snooping around your device. Their job is to identify you, if and when, you return to our website.
  </p>

  <div class="privacy-section">
    <h4 class="">Service Providers</h4>

    <p>We may employ third party companies and individuals to facilitate our Service, to provide the Service on our behalf, to perform Service-related Service or to assist us in analyzing how our Service is used.</p>

    <p>These third parties have access to your Personal Information only to perform these tasks on our behalf and are obligated not to disclose or use it for any other purpose.</p>

    <p>Third party Service we use are Google Analystics and Cookie Consent. No third party Service receives any personal information you may provide whilst using our Service.</p>
  </div>

  <p class="privacy-friendly">
    Our website integrates with Google and a cookie consent management plugin. Cookie Consent know their software is running on this website; they don't receive any personally identifiable information about you. And Google, well, it's Google. We just give them a unique id number which identifies your device as having visited my website...
  </p>

  <!--
  <div class="privacy-section">
    <h4 class="">Communications</h4>
    <p>We may use your Personal Information to contact you with newsletters, marketing or promotional materials and other information that may be of interest to you. You may opt out of receiving any, or all, of these communications from me by following the unsubscribe link or instructions provided in any email I send.</p>
  </div>

  <p class="privacy-friendly">
    If you sign up to my newsleter, I will send you newsletters.
  </p>
  -->

  <div class="privacy-section">
    <h4 class="">Security</h4>
    <p>The security of your Personal Information is important to us, but no method of transmission over the Internet, or method of electronic storage is 100% secure. While we strive to use commercially acceptable means to protect your Personal Information, we cannot guarantee its absolute security. As such we make no warranties as to the level of security afforded to your data, except that we will always act in accordance with the relevant EU legislation.</p>
  </div>

  <p class="privacy-friendly">
    Its unlikely, but if it someone stole your information from us, you should know we have very particular set of skills, skills we have acquired over a very long career, skills that make us a nightmare for the people that stole your stuff.
  </p>

  <div class="privacy-section">
    <h4 class="">International Transfer</h4>
    <p>Your information, including Personal Information, may be transferred to — and maintained on — computers located outside of your country or other governmental jurisdiction where the data protection laws may differ than those from your jurisdiction. If you are located outside of Portugal and choose to provide information to us, please note that we transfer the information, including Personal Information, to the Portugal and process it there. Your consent to this Privacy Policy followed by your submission of such information represents your agreement to that transfer. In the event that a dispute arises with regards to the international transfer of data, you agree that the courts of Portugal shall have exclusive jurisdiction over the matter.</p>
  </div>

  <p class="privacy-friendly">
    Our webiste is hosted by the University of Porto. Honestly, we have no idea where in the world it is actually stored. At the end of the day, Portuguese law will apply.
  </p>

  <div class="privacy-section">
    <h4 class="">Links To Other Sites</h4>
    <p>Our Service may contain links to other sites that are not operated by us. If you click on a third party link, you will be directed to that third party's site. We strongly advise you to review the Privacy Policy of every site you visit. We have no control over, and assume no responsibility for the content, privacy policies or practices of any third party sites or Service.</p>
  </div>

  <p class="privacy-friendly">
    We are not the creator of the websites we link to, but if we link to them, then they must be pretty cool.
  </p>

  <div class="privacy-section">
    <h4 class="">Changes To This Privacy Policy</h4>
    <p>We may update my Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page. You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they are posted on this page. If we make any material changes to this Privacy Policy, we will notify you either through the email address you have provided, or by placing a prominent notice on our website.</p>
  </div>

  <p class="privacy-friendly">
    We do try to keep my Privacy Policy up to date. Really, you're not going to read every single Privacy Policy on the internet. But if you are considering working with us, then yeah, do your homework.
  </p>

  <div class="privacy-section">
    <h4 class="">Jurisdiction</h4>
    <p>This Policy shall be governed and construed in accordance with the laws of Portugal, without regard to its conflict of law provisions.</p>
  </div>

  <p class="privacy-friendly">
    We are based in Portugal.
  </p>

  <p class="privacy-footer">If you have any questions about this Privacy Policy, please <a href="/contact">contact us</a>.</p>

</section>
